<div fxLayout="row" [style.padding.px]="5" [style.width.%]="100" fxLayoutAlign="space-between center" >

    <div fxFlex="20" fxLayoutAlign="start center">
        <eqm-toggle class="on-off" [(state)]="enabled" (stateChange)="setEnabled()"></eqm-toggle>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
      <eqm-label>Equalizer: </eqm-label>
      <eqm-label 
        [color]="type === 'Basic' ? ui.colors.accent : ui.colors.light"
        (click)="setType('Basic')"
      >
        Basic
      </eqm-label>
      <eqm-label 
        [color]="type === 'Advanced' ? ui.colors.accent : ui.colors.light"
        (click)="setType('Advanced')"
      >
        Advanced
      </eqm-label>
    </div>

    <div fxFlex="20" fxLayoutAlign="end start">
      <eqm-button [@FadeInOut] type="transparent" (pressed)="openSettings()"
      [disabled]="!enabled"
      *ngIf="activeEqualizer && activeEqualizer.settings.length"
      eqmTooltip="Settings" eqmTooltipPositionSide="bottom">
        <eqm-icon name="cog" color="#8E8E93" width="14" height="14"></eqm-icon>
      </eqm-button>
        
        <!-- <eqm-icon (click)="toggleVisibility()" [name]="hide ? 'show' : 'hide'"></eqm-icon> -->
    </div>
</div>

<div [style.width.%]="100" fxLayout="row">
  <eqm-equalizer-presets 
    [disabled]="!enabled"
    class="presets"
    [presets]="presets" [selectedPreset]="selectedPreset" 
    (presetSelected)="selectPreset($event)"
    (presetSaved)="savePreset($event)"
    (presetDeleted)="deletePreset()"
    [additionalLeftOption]="activeEqualizer?.additionalPresetOptionLeft"
    [additionalRightOption]="activeEqualizer?.additionalPresetOptionRight"
  ></eqm-equalizer-presets>
</div>
<eqm-loading *ngIf="!loaded"></eqm-loading>
<eqm-basic-equalizer fxFill *ngIf="loaded && type === 'Basic'" #basicEqualizer
  [enabled]="enabled" class="equalizer" 
  (presetsChange)="presets = $event" (selectedPresetChange)="selectedPreset = $event" 
  [animationDuration]="animationDuration" [animationFps]="animationFps"
  [settingsDialog]="settingsDialog"
></eqm-basic-equalizer>
<eqm-advanced-equalizer *ngIf="loaded && type === 'Advanced'" #advancedEqualizer
  [enabled]="enabled" class="equalizer"
  (presetsChange)="presets = $event" (selectedPresetChange)="selectedPreset = $event"
  [animationDuration]="animationDuration" [animationFps]="animationFps"
  [settingsDialog]="settingsDialog"
></eqm-advanced-equalizer>