:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: relative;

  .toolbar {
    padding: 0 5px;
  }
  
  .presets {
    width: 95%;
  }

  .equalizer {
    width: 100%;
    height: 100%;
  }
}