:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  position: relative;

  .button-container {
    width: 100%;
    .button {
      width: 27.5%;
    }
  }
  
  .presets {
    width: 95%;
  }

  .equalizers {
    width: 100%;
    
    .equalizer {
      width: 100%;
    }
  }
  

  
}