@import "../../../../../styles/colors.scss";

:host {
  background-color: $dark;
  display: block;
  padding: 40px;
}

.feature {
  min-width: 350px;

  .image {
    $border-radius: 5px;
    position: relative;

    img {
      border-radius: $border-radius;
    }
    .border {
      border-radius: $border-radius;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      $border: 0px 0px 0px 2px $gradient-end inset;
      -webkit-box-shadow: $border;
      -moz-box-shadow: $border;
      box-shadow: $border;
    }
  }
}