

<div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="50px">
    <div *ngFor="let category of categories" fxLayout="column" fxLayoutAlign="space-around center">
        <h2>{{category.category}}</h2>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center" fxLayoutGap="50px">
          <div *ngFor="let feature of category.features" 
          [fxFlex]="100 / category.features.length" class="feature" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
            <span>{{feature.feature || ''}}</span>
            <div class="image">
              <img [src]="'assets/sections/' + feature.image" [height]="category.height"/>
              <div *ngIf="feature.border !== false" class="border" [style.height.px]="category.height"></div>
            </div>
            <p *ngIf="feature.comment !== false">{{feature.comment}}</p>
          </div>
        </div>
    </div>
</div>