<div fxLayout="column" fxLayoutAlign="space-around center">
    <eqm-label>Booster</eqm-label>
    <div fxLayout="row" fxLayoutAlign="space-around start" [class]="'controls' + (hide ? ' hide' : '')">
      <div fxLayout="column" fxLayoutAlign="center center">
        <eqm-label>Volume</eqm-label>
        <eqm-value-screen>{{(gain | mapValue:0:1:0:100 | clipValue:0:100 | fixFloat:0:false)}}%</eqm-value-screen>
      </div>
      <eqm-knob
        [min]="0" [max]="2" 
        [(value)]="gain" (userChangedValue)="setGain($event.value)" 
        [stickToMiddle]="true" (stickedToMiddle)="performHapticFeedback($event)"
        size="small"
        [doubleClickToAnimateToMiddle]="false"
      ></eqm-knob>
      <div fxLayout="column" fxLayoutAlign="center center">
        <eqm-label>Boost</eqm-label>
        <eqm-value-screen>{{(gain | mapValue:1:2:0:100 | clipValue:0:100 | fixFloat:0:false)}}%</eqm-value-screen>
      </div>
    </div>
  </div>