*.css linguist-detectable=false
*.js linguist-detectable=false
*.html linguist-detectable=false
*.scss linguist-detectable=false
*.rb linguist-detectable=false
*.m linguist-detectable=false
*.mpp linguist-detectable=false
*.sh linguist-detectable=false

*.swift linguist-detectable=true
*.ts linguist-detectable=true
*.cpp linguist-detectable=true
*.c linguist-detectable=true
*.h linguist-detectable=true
