<div class="reverb" fxLayout="column" fxFill fxLayoutAlign="center center">
    <div fxLayout="row" [style.padding]="'0 5px'" fxLayoutAlign="space-between center" fxFill>
        <eqm-toggle class="on-off" [(state)]="enabled" (stateChange)="setEnabled()"></eqm-toggle>
        <eqm-label>Reverb</eqm-label>
        <eqm-icon (click)="toggleVisibility()" [name]="hide ? 'show' : 'hide'"></eqm-icon>
    </div>
    <div fxFill class="reverb-controls" [fxHide]="hide">
      <div fxLayout="row" fxFill fxLayoutAlign="space-around center">
        <eqm-knob [min]="0" [max]="1" [(value)]="dryWetMix" (valueChange)="setMix()" [disabled]="enabled"></eqm-knob>
        <div fxLayout="column" fxFlex="70" fxLayoutAlign="space-between start" fxLayoutGap="10px">
          <div fxLayout="row" fxFill fxLayoutAlign="space-around start" fxLayoutGap="20px">
            <eqm-label>Preset</eqm-label>
            <eqm-dropdown [items]="presets" [labelParam]="'name'" [(selectedItem)]="selectedPreset"></eqm-dropdown>
          </div>
          <div fxLayout="row" fxFill fxLayoutGap="20px">
            <eqm-label>Dry/Wet Mix</eqm-label>
            <eqm-value-screen>{{formatDryWetMixValue()}}%</eqm-value-screen>
          </div>
        </div>
      </div>
    </div>
  </div>