<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>17B1003</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>eqMac2Driver</string>
	<key>CFBundleIdentifier</key>
	<string>com.bitgapp.eqMac2Driver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>eqMac2Driver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>sFlo</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9C40b</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17C76</string>
	<key>DTSDKName</key>
	<string>macosx10.13</string>
	<key>DTXcode</key>
	<string>0920</string>
	<key>DTXcodeBuild</key>
	<string>9C40b</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>PhantomAudioDriver</key>
		<dict>
			<key>AudioEngines</key>
			<array>
				<dict>
					<key>BlockSize</key>
					<integer>8192</integer>
					<key>Description</key>
					<string>eqMac2</string>
					<key>Formats</key>
					<array>
						<dict>
							<key>IOAudioStreamAlignment</key>
							<integer>1</integer>
							<key>IOAudioStreamBitDepth</key>
							<integer>32</integer>
							<key>IOAudioStreamBitWidth</key>
							<integer>32</integer>
							<key>IOAudioStreamByteOrder</key>
							<integer>0</integer>
							<key>IOAudioStreamDriverTag</key>
							<integer>0</integer>
							<key>IOAudioStreamIsMixable</key>
							<integer>1</integer>
							<key>IOAudioStreamNumChannels</key>
							<integer>2</integer>
							<key>IOAudioStreamNumericRepresentation</key>
							<integer>1936289396</integer>
							<key>IOAudioStreamSampleFormat</key>
							<integer>1819304813</integer>
						</dict>
					</array>
					<key>NumBlocks</key>
					<integer>2</integer>
					<key>NumStreams</key>
					<integer>1</integer>
					<key>SampleRates</key>
					<array>
						<integer>44100</integer>
						<integer>48000</integer>
						<integer>88200</integer>
						<integer>96000</integer>
						<integer>176400</integer>
						<integer>192000</integer>
					</array>
				</dict>
			</array>
			<key>CFBundleIdentifier</key>
			<string>com.bitgapp.eqMac2Driver</string>
			<key>IOClass</key>
			<string>com_bitgapp_eqMac2Driver</string>
			<key>IOMatchCategory</key>
			<string>com_bitgapp_eqMac2Driver</string>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOAudioFamily</key>
		<string>1.1fc6</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
	</dict>
</dict>
</plist>
