/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

.mat-dialog-container {
  padding: 12px !important;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}