@import "../../styles/colors.scss";

:host {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  
  position: absolute;
  top: 0;
}

a {
  margin-right: 50px;
}