<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="200px" fxLayoutGap.lt-md="0px">
  <div fxLayout="column" fxLayoutAlign="space-around center" class="info">
    <img width="144" height="144" src="assets/icon.svg">
    <div style="position: relative;">
        <h2>eqMac</h2><div class="beta-tag"><span>Beta</span></div>
    </div>
    <h3>Free Audio Equalizer for macOS</h3>
    <div fxLayout="row" fxFill="100%" fxLayoutAlign="center center" fxLayoutGap="20px">
      <a *ngIf="url" [href]="url" fxFlex="80%" download="eqmac.dmg">
        <eqm-button class="icon-gradient-middle-bg dark">
            Download
        </eqm-button>
      </a>
      <eqm-button *ngIf="!url" fxFlex="80%" class="icon-gradient-middle-bg dark" (pressed)="downloadPressed.emit()">
        Download
      </eqm-button>
      <eqm-button fxFlex="80%" (pressed)="takeATourPressed.emit()">
          Take a tour
      </eqm-button>
    </div>
    <br>
    <span class="text-small" style="opacity: 0.7">By Downloading and installing eqMac you automatically agree to our <a routerLink="/terms" class="underline">Terms and Conditions</a></span>
    <br>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center space-around">
      <span>600k+ Downloads</span>
      <span>|</span>
      <span>50k+ Users</span>
    </div>
    <eqm-github-stats></eqm-github-stats>
  </div>
  <img class="screenshot" src="assets/screenshot2.png" width="500"/>
</div>