@import "../../../../../styles/colors.scss";

:host {
  background-color: $gradient-end;
  display: block;
}

.info {
  margin-top: 60px; 
  min-width: 500px;

  .beta-tag {
    position: absolute;
    right: -75px;
    top: 31px;
    background-color: $dark;
    border-radius: 5px;
    padding: 2px 10px;
  }
  
}

.screenshot {
  // border: 1px solid black;
  margin: 30px 0;
  // $shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.2);
  // box-shadow: $shadow;
  // -moz-box-shadow: $shadow;
  // -webkit-box-shadow: $shadow;
}