@import "../../styles/colors";

:host {
  display: block;
  width: 100%;
  filter: grayscale(80%);
}

.container {
  z-index: 3;
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: translateX(-2px);
}

.right {
  width: 20px;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  position: absolute;
  right: 0px;
  top: calc(50% - 16px/2);
}

$animation-duration: .2s;

.items-select-box{
  position: fixed;
  z-index: 4;
  box-shadow: 0px 8px 77px 2px rgba(0,0,0,0.56);
}

.down {
  transform-origin: top center;
}

.up {
  transform-origin: bottom center;
}

:host.enabled {
  filter: none;
}

.item {
  margin: 4px;
  display: inline-flex;
  flex-direction: row;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .icon {
    margin-right: 10px;
    display: inline-block;
  }
}
