<div *ngIf="!replaceKnobsWithSliders" fxLayout="row" fxFill fxLayoutAlign="space-around stretch">
  <eqm-booster *ngIf="ui.settings.volumeFeatureEnabled" fxFlex="49%" [hide]="hide"></eqm-booster>
  <eqm-divider *ngIf="ui.settings.volumeFeatureEnabled && ui.settings.balanceFeatureEnabled" orientation="vertical"></eqm-divider>
  <eqm-balance *ngIf="ui.settings.balanceFeatureEnabled" fxFlex="49%" [hide]="hide"></eqm-balance>
</div>

<div *ngIf="replaceKnobsWithSliders" fxLayout="column">
  <eqm-booster *ngIf="ui.settings.volumeFeatureEnabled" [hide]="hide"></eqm-booster>
  <eqm-divider *ngIf="ui.settings.volumeFeatureEnabled && ui.settings.balanceFeatureEnabled"></eqm-divider>
  <eqm-balance *ngIf="ui.settings.balanceFeatureEnabled" [hide]="hide"></eqm-balance>
</div>