@import "../../../styles/colors.scss";

:host {
  margin-top: 50px;
  padding: 50px;
  display: block;
}

.terminal-command {
  background-color: $gradient-end;
  padding: 10px; 
  border-radius: 5px;
}