/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "./app/styles/font.scss";
@import "./app/styles/colors.scss";

$font-size: 20px;

html, body {
  background-color: $dark;
  font-family: 'eqMacFont';
  font-size: $font-size;
  color: $light;
}

// * {
//   user-select: none !important;
//   -moz-user-select: none !important;
//   -khtml-user-select: none !important;
//   -webkit-user-select: none !important;
//   -o-user-select: none !important;
// }

a {
  text-decoration: none;
  color: $light;

  &:hover {
    cursor: pointer !important;
  }
}

.crossed-out {
  text-decoration: line-through;
}

.text-small {
  font-size: .6em;
}

.underline {
  text-decoration: underline;
}