.header {
  background-color: #3E3E3E;
  padding: 2px 7px 0px 7px;
}

.menu-buttons {
  height: 100%;
}
.circle-button {
  border-radius: 25px;
  background-color: #8E8E93;
  overflow: hidden;
}

.left {
  width: 12px;
  height: 12px;
}

.right {
  width: 16px;
  height: 16px;
}