@import "../../styles/colors";

.screen {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  ::ng-deep eqm-label {
    span {
      color: $accent !important;
    }
  }
  transition-property: filter;
  transition-duration: .5s;
}

.disabled {
  filter: grayscale(80%);
}