@import "../../styles/colors";
@import "../../styles/mixins";
:host {
  display: inline-block;
  margin: 1px;
}

.button {
  transform: translate(-1px, -1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(62, 65, 70);
  transition-property: filter;
  transition-duration: .5s;
  border-radius: 3px; // font-size: 20px;
  cursor: pointer !important;

  & * {
    cursor: pointer !important;
  }
}

.transparent {
  background-color: transparent;
  box-shadow: none !important;
}

.large {
  height: 34px;
}

.square {
  height: 34px;
  width: 34px;
}

.circle {
  height: 34px;
  width: 34px;
  border-radius: 999px;
}

.narrow {
  height: 22px;
  padding: 0 5px;
}

.off {
  box-shadow: 0 0 0 1px black, 1px 1px 0 0 rgba(gray, .1) inset, -1px -1px 0 0 rgba(black, .2) inset, 0px 5px 10px -2px rgba(black, .5);
}

.on {
  box-shadow: 0 0 0 1px black, 0 0 0 1px rgba($accent, .5) inset, 0 0 15px 10px rgba(black, .3) inset;
}

.hoverable-on {
  &:hover {
    box-shadow: 0 0 0 1px black, 0 0 15px 1px rgba($accent, .5) inset, 0 0 15px 10px rgba(black, .3) inset;
  }
}

.hoverable-off {
  &:hover {
    box-shadow: 0 0 0 1px black, 0 0 15px 1px rgba($accent, .5) inset, 0px 5px 10px -2px rgba(black, .5);
  }
}

.disabled {
  // box-shadow: 0 0 0 1px black, 0 0 0 1px rgba(gray, .1) inset, 0 0 15px 10px rgba(black, .3) inset;
  filter: grayscale(80%) brightness(80%);
  cursor: default !important;

  & * {
    cursor: default !important;
  }
}