@import "../../styles/colors.scss";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
  border: 1px solid $dark;
  border-radius: 5px;
  text-align: center;
  background-color: $gradient-start;

  * {
    vertical-align: middle;
  }
  &:hover {
    cursor: pointer !important;
  }
}

:host(.pressing) {
  filter: brightness(0.9)
}