
<div class="container" #container 
[ngStyle]="containerStyle" 
(mousewheel)="mouseWheel($event)"
(mousedown)="mousedown($event)"
(mouseup)="mouseup($event)"
(mousemove)="mousemove($event)"
(mouseenter)="mouseenter()"
(mouseleave)="mouseleave()"
>
  <div class="groove" [ngStyle]="grooveStyle"></div>
  <div class="groove-filling" [ngStyle]="grooveFillingStyle"></div>
  <div class="thumbNotch" *ngIf="showMiddleNotch" [ngStyle]="thumbNotchStyle"></div>
  <div *ngIf="notches?.length" class="notches">
    <div *ngFor="let notch of notches; index as i" class="notch" [ngStyle]="getNotchStyle(i)"></div>
  </div>
  <div class="thumb" [ngStyle]="thumbStyle" (dblclick)="doubleclick()"></div>
</div>
