:host {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  filter: grayscale(80%);

  eqm-label {
    margin: 0 5px;
  }
}

:host.enabled {
  filter: none;
  cursor: pointer;
}
