<div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="10px">
  <div *ngFor="let row of options" fxLayout="row" style="width: 100%" fxLayoutGap="10px" fxLayoutAlign="space-between center">
    <div *ngFor="let option of row" [fxFlex]="100 / row.length" [ngStyle]="getOptionStyle(option)">
        <!-- Checkbox -->
        <div *ngIf="option.type === 'checkbox'" 
        fxLayout="row" fxLayoutAlign="center center" fxFill fxLayoutGap="10px"
        (click)="toggleCheckbox(option)">
          <eqm-checkbox [interactive]="false" [checked]="option.value"></eqm-checkbox><eqm-label>{{option.label}}</eqm-label>
        </div> 

        <!-- Button -->
        <eqm-button *ngIf="option.type === 'button'" 
        fxFill type="narrow" 
        [disabled]="!!option.isEnabled && option.isEnabled() === false"
        (pressed)="option.action()" [hoverable]="option.hasOwnProperty('hoverable') ? option.hoverable : true">
          <eqm-label>{{option.label}}</eqm-label>
        </eqm-button>

        <!-- Select -->
        <div *ngIf="option.type === 'select'" fxLayout="row" fxFill fxLayoutGap="10px" fxLayoutAlign="center center">
          <eqm-label>{{option.label}}</eqm-label>
          <div fxLayout="row" fxLayoutGap="5px" fxFlex>
            <eqm-button *ngFor="let selectOption of option.options" 
            [fxFlex]="100 / option.options.length"
            [disabled]="!!option.isEnabled && option.isEnabled() === false"
            [depressable]="false" [toggle]="true" type="narrow" [state]="option.selectedId === selectOption.id" (pressed)="selectedOption(option, selectOption)"
            >
              <eqm-label>{{selectOption.label}}</eqm-label>
            </eqm-button>
          </div>
        </div>

        <!-- Divider -->
        <div *ngIf="option.type === 'divider'">
          <eqm-divider [orientation]="option.orientation"></eqm-divider>
        </div>

        <!-- Label -->
        <div *ngIf="option.type === 'label'" 
          [class]="option.url ? 'clickable' : ''" 
          (click)="openUrl(option.url)"
          fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center"
        >
          <eqm-label>{{option.label}}</eqm-label>
          <eqm-question *ngIf="option.tooltip" [eqmTooltip]="option.tooltip"></eqm-question>
        </div>

        <!-- HTML -->
        <div *ngIf="option.type === 'html'" [innerHTML]="option.html"></div>

        <!-- Dropdown -->
        <div *ngIf="option.type === 'dropdown'">
          <eqm-dropdown
            [items]="option.items"
            [labelParam]="option.labelParam"
            [label]="option.label"
            [selectedItem]="option.selectedItem"
            [numberOfVisibleItems]="option.numberOfVisibleItems"
            [placeholder]="option.placeholder"
            [noItemsPlaceholder]="option.noItemsPlaceholder"
            (itemSelected)="option.itemSelected($event)"
            [forceDirection]="option.forceDirection"
            ></eqm-dropdown>
        </div>

        <div *ngIf="option.type === 'breadcrumbs'">
          <eqm-breadcrumbs [crumbs]="option.crumbs" (crumbClicked)="option.crumbClicked($event)"></eqm-breadcrumbs>
        </div>
    </div>
  </div>
</div>