@import "./styles/colors";

::ng-deep *:not(input) {
  -webkit-touch-callout: none !important; /* iOS Safari */
    -webkit-user-select: none !important; /* Safari */
     -khtml-user-select: none !important; /* Konqueror HTML */
       -moz-user-select: none !important; /* Old versions of Firefox */
        -ms-user-select: none !important; /* Internet Explorer/Edge */
            user-select: none !important; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

::ng-deep .pointer {
  cursor: pointer !important;

  & * {
    cursor: pointer !important;
  }
}

$noise: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAASaElEQVRoQ41bW08b19r2+DAeMwxgHKfU2WSTRHKlWr1oetU7pEiV0oo0STUKh4IIkbjLf+A/9A6pCYISUllKI2gbqWol7npRtapURdqinyj9aAipE8YBDx4f2XrWXu/o9WIG6hvwHNZa7/l5D9YikUhkeHg4fvHixdS9e/cO8B2f27dvZ+/fv1/C/9PT032NRqO9vLy8j++zs7MJx3H6isWiuE8f27ZTxWKxOjk5aS4tLbl0fWJi4p3l5eXf6PvU1NS5arWKd1u4ViwWxV/btvuLxeIe/scaqVTqaH5+/pDtmYxEInVd1w06C99fOUs2EolUCoVC7aeffur95ptvHNzXcPj5+fkGPaxuhOujo6M5wzD2LMs6+uyzz2p84dnZ2S55KM227USxWKxLJhkLCwsee1abnJzMLi0t/a0crBuEg1G4Pj4+/u8HDx78OT4+nn7w4IE4JBg5MDDQ3t3dTRcKhb/n5uba8npWZbrKAAhrYWGhTNe1MA7JBWPg/tzcXJQ2kdLtKhaLr/m709PTPoH8sOr6t27dyn/55ZcbdJ3ew8Hq9bpGREqpEjPF42NjY2dWVlZeyndx9iOc7enTp/FisQihHeEenXdqaur84uLi//MzaFDn9fX1JufE3bt3k6okb9y4kent7XW51PBONBptcVMIY+Dw8LCxvr4uJG7b9rlisfhMfZa0bWJioieRSNSxF/ZwXbdZLBYrtm3rpEFEFGnY7Oxs7/z8vBDC2NjYG67rHq6urvomSnSCYCObzWpQKb6gaofq4aQUoSqCq1IiwjzAnK+++uoVnmk0Gg0cNogRRODMzIylaVqiVCo1kslkzTCMvkuXLr2EVkEDdnZ2Yt99953vE0ggkgjYvziDqr62bZ83TXOfVBqmAbsSDoYchvoSHXRkZORMOp3ugoowuxXcXFlZeUH212g0XgURCKLi8Xhrfn4etnoEKQY5Htu2Y+l0OprL5WBKbTBle3s7debMmVYsFku4rntATo6bHWMoaOryPC/ZaDR6Hj9+vMWdYagNk8clG8MBy+VyjLwduLy7uwtVa0GdDg4O3lxZWfkPbUzvS84L+yaHBMlks1lIBT6izh0n1yzuECcmJiwwyLbtbjAU95rNZgzmROoKUzFN89XQ0FB9bm4O65Pkaf/0iU4LhwWh9Xq9kU6LZxvk0emQZDv0HQeqVqu9X3/9tbBRbibEDHJquCc9tAhLJLF0Ot2dy+UOtra2eiKRiEd+A2cplUqtTCaTgvMiLbFtW3hrrnlhvgShRHhi/gCk99tvv7XgzNii/nMg0nGcejQaHYzH47ukmiAE68DTYvNcLuf98ssv2f7+/teu68YPDw8TpCF8P/UMWL/ZbLY9z4tjLS510hxiJElc+hDfcYUSzG+Qs8E1Ah4BNi3CgWo/YEy73QbnhT3jww8KZmia1gqyW6aS3bquR/GM1CwPKh8kFNu2e3loBIPrdWAS3YUW4n3TNDV4booQk5OTZ0mlfSJUZwJODgwMaLDXUqmkQeoq98jOr1692vPkyZN9hIydnR2rXq/XoI4kFXmIqjQLf0/pD6KmaR7xsMdVNERd/TXCJMrpgTb4NgxJtlqtBoeEQGK2bRuAc7ArcIs7I9okzLPzQ9y5c6c/FovBS2MNYR5B8V61c74G+ROEUBZ3tZmZmW5N0/rr9Xo0lUrtUTymd3msFgSDcsMwjkAspBWNRhObm5vVoaGhbsLQtIFKMAckCD0chEhbh0P5vyA158SQ+oMxn3/+ucDTjPh/ZzKZXXxXAZEqWTjParWqK4LzH+vw0nwzxRkk6vW6iQCuEsU3lLE2yqVo2/ZAsVh8MTIyMri2ttYB81QNCdIevl+Qxw8guAsOEtfJXxAkhSYKgj/66KM0955qyMEzErMCQ1f4IeT/QFI+4mIORdhYWGjSdb0Km4VTyefzYNQhMZokDo2r1Wrd8Xi8CqkFMZw7Nfw/MDAQhyZwfE9QNDQO0wPXrl17Y3V11fe8nKNcImFQlGKuVG9kRZUTYKt2586d9ODgYHljY6MXISnMzokxINA0zYSu661GozFw//79bTrjyMhI13vvvecBsWGdWq0WUwk+5q0RMs6dOweXL1Iygo0gtlKptNPp9ADSOVUdVUlgnVwuZ4GIkDATazabwOB/QyNM04ySx759+/ZgrVar8EyKiFLD0/Xr14cSiYRTLBb3x8fH+9R3TksPoUrmysoKclihshwGEpdHR0cHW63WjgpgVI8Lrfn999+7GVARuW+YN8d1MK5Wq2n0jsyeDoC3Ed5gn11dXW3V0UGdATGfPn2KxMgHVnDpvmfljipICszJCGwK1Wy32zEVTEjIGCkUCk3Ko1UHBcbV6/WYTAH9XJojO6iqEpcFkmJoqx9VDUoZVQeG7wRq6N6JEp6YmPjX8vLyM64abDMB4vkmKjig78i01tbWXtLmYDLBRtKYGzdunIU6Y71r165Z/f39DaVi0kGPattIBSORyDNIUzUnYO1SqeQANJ2aPNAucDqu6x6ZpklISdwKCiXMvvwaF9WneI7MuU/gBesB6ODgLHXFNZSCXkNrZIVDZFme551dXFw8VkwIkjauBRJM6haLxbq4bYCrf/75Z19fX1+SSiek+swEopFIpM3xMTSB581hhwmIqUhSkD8DmYmaFz6kDcxTpxqNRjKRSNRQRBgaGopDO2AePB4TwRQrhTQYh9tzc3OatEHfe09OTl5YWlr6g0nXGx0dffPhw4c7dICRkZELiUTCe/To0fMg4mRR8BBAhktZqVn5r968efPNvb29ElRSrbDCX1iWhWS/DehKZsBKQL3VarWJ4gH2ExKGOu3t7XWtrq7u4LtqH6Q61Wr1tWq34GJ/f38NVYmzZ8/WJXhImaaZxAakqkQYYmMmk9G3trYqIACmgj0PDw+7vvjii+d0UBBvWdZrXlHl5+KmBF9jmuaBiqFVZqOod2rF4yT1o7xVLeKppV9+UDAAxObzeX1jY6Odz+eRUDSIESgKUhji1VKpUR0pobwG2xb44OrVq5C08f3334tiHjuHr6E+wacU7cQLSqrlFwRu3bp1qd1uv6DSi5Syf597zenp6YGFhQWRCNCHCCOTAIMcx+mHxDk8DGC+yJTu3btXGR4ejkmNESCp1WrFyuXykWEYzc3NzaOff/5Z1N79bCkgxAjdT6VScVIVCjM8XgdpAC/J8vuw3Var5aAbwOMz89DdPT09OhxlUNYURDAEQZIkTSI4G4S7BcF4YWNj4yibzaJzILwhN3oQjENRfQkEoxYFjwiuqoV32viDDz4wqbyK9bDu+vp6lCSxsbFRRwrKOwNEPElWVWtGtNC6IM2EJj579uyQihVcQKdBSwHMeRENqAoElcvli57nbUMzeAGAcLDruqhHU8/IL6DLA2vT09OwNx3rAWjs7+9X6YC8OUBFCZWpZF5gyPr6uk5FfinAjo4FR43HbJjAOBZMJpNHcEgyNdRM07QgDXi73t7eF0jBaGNFfQT3lf6Qnk6nU2QeJMGg0g15YCr9QOtoH9WmpToj7mulUgltF9HbIi2Dt3/+/HmZtFdjJVPRsNrb20tGo1EjlUpVpPPpkM6nn376Zrvd9pCFkJ2h0F2r1RpobVB2peDrY7Un7gCD1DbomjSlKjQHCcvDhw+3cc00zTjvbpLagxmRSKSrUqlEKWvyJawW765fv973+PFj0XVT7QQLtVoti1AYD0NAVCixGoZxGFZm4c7n5s2b/3r06NFf2K+vr89zXVezLCsOzTqpzizrW+1EIpEgYriWqUUNkvpJcRilGQofgdVBBu18LVBBC0lC9bCcwdAyXddRsfTbmtzuCCKaptmE1s3MzFw8f/78Fvf0EqN7ADz1er0XLR/gb13XD6Ft5GfCwpJPYFByAKns7e3tkpOBBmxvb9fwnZdz5KFROKBcusOZ8I4fU8OOYjprsp+NxWJojKEkJDqeChNDS7ZkHrD/jjKtrusCGkoEI7A1Lar0fDABgHdRsunoWuB5WczzOCykhhYkkc/nX0M6YIhlWV0cqeFdx3F06j5S3YvWPTg4qCH/ZXmzn6by8BMEWATBdAM2ZJqmP9Ygq40cEaFGbSIMEYfDbIzUMaxDSO+9//77qR9//JE6/6LjjyiBjoHruiCsqo5ecLXnElbPohYwZAMvISQMDPrkyZMaT+65M6CFmc36LREC/xy4szy2o28VBhMLhYL+9ttvd6SAatxVHSepqfpckJlwxgiCqQQrE++6Ol8BRDU8PNymSiItwG1JMgsdfgH19vf3s/DUnud14S9JRnVi/2SKgIdOysKCIC0PZVeuXMlYltUql8siKyOT0HgOGhT7uAQDunyJZrNpEDjhPVlsgAxobW1N+ATg9rGxsQyb0fDPjH3BzD/++MMjFSdvz89EGgJGv/POO7GwLgQfmVAZQ1i6w3uS+kBSlUqlu7u7GyBEdOQIUJA3pkMEgH3hNZG8x2IxdO0xoyHSuyDUBBtE/9lxHAyo+M6SgwhygmisNxqNvwqFwhGqkolEoodN/ADnC3ASpAXHgAfZAJVe0TG0LKsPRTg2cWOg8E0HoOvQgEgkkkqn0zHYtDpFo+bJFA1kCQcMOWdZ1n48HhftGvXA3IQ4MCJQUSqVMqi8EA0ERGASjuO00NkkCfcS/EKFr1AovGKzUKlWq5UBGrpy5cobP/zwwwsp+RzVlMO6h1DLg4MDjZIP3mgn81CdDI/jsltRNU0T0o/QNA8xgqs7EUfITTIzZhiG4Xlegwr7HUhL9YRKlx1TNOgTiWk5qCWqEwQfQ+y/y3GcI1JROpScxXAxoLK5uRnFwJsELd2lUsm7dOlST6vVamN9YGTsAenm83kThED6tBYLkR0DdnhOlokOCVvAj/g1LfKiiI0XLlwwGo0Guu/ClrDo4OBgEhvzeCe9e5+u683l5WXMRAUiqiBbCrvG2rLdsVishxcH8Y7E0LDzPW5iag2bhcaO5EfF0j48C2uLhsA6FBEEJORa8uGHHw58++23AryQBkjvixSOxiaAlEh7gor71G2gg3dASKy7tbWln1S050LCy9rU1FS/YRgosFMICRQAx9W8e6fruhk0u0G2TaEvCJdzBtHzqnmc1JMGoyuVCppm6D0DA4gqKJiPZn02m92Hc/Un8VS3H9SeDOrv8sN//PHHg5lMpkyYmFqYruuiu4iJWH94lXPyn4wZyTo5Td2K5D5slpPCHf7++uuv3uXLlxNqiupP4pE9KCiLhsBEQU99GZyHU9F1Pal27whsKI1yv6R6ElKamprKLC4uvjqtWEhhjcdtMEh2PF+S8CTTemu1movOgj8pC/XyPA/pHLIgTLP599QDQnUwpYNyKDGCY+V/Ij2sSeNGcJo8k8I9tYivQFkfpxNS471gpVDvAyZhw3fv3tUB0wjtBKV1nGA1OQgYcRDxD4xgaVzKMIwBtGm4iRBCk9mMYVmWhkI8Zr6SyeRrOfYkHBatRQ5SHS7FGQNCK28h/a8uTUNcaFzxXivnqAQRqaCqRJBTwcbUzyFmyZoUOoP1IG+vjk5BY+AH8Pxp071SI0SfmQSgznuiktoRliBhx3GQh7ZQOr18+bKrNrSDBl4I1TD8KkIHR1FhaRsY6bquTv3igDz8mLnjbCgY0oxl2Pw1Y7RfzPCh5cbGhpvP5zV05TH+d1qIkvbnoxsVeZF98nVATKlUehk0zadSxWHoSYNvpClh+ECNMBrvDjB8i+ypinYpOgWpVKoLwFuNowruFbOOvFzK1+aZFhEQlExwRsnfX9Qdx0lSKwiM2NraspDMsJDake0F2TJNEeFHHuJhdfPTENUnn3xyMZfLPZPzUB0/pOCqRCXXAC8v9gVT3nrrrSbLbY8V45Q8HGdGQR/VSzGfEiAIX4XVoVbxqxYa1SObwOFkO6U34FcoHcU9IkRWLjFyDKfhQ0Qc6vz588IXnFZ+obVoep4SDwCbd9999xlNyCtRROTYYAqNPXEswQocgpFcwoLj5A3DwDfloaxVcixLUaTpS4ziOkKR53lIOMTvoNhex7A0raVigqBCO54N00wyFbVMe+Q4DgJ6x3Anh3NB4YE2l9i16jhOVFY4Oop4kALhbu6N1UNCwu1225/i4XBX7WXJZproSMpo0U0FSOaTRMsF+Dq08yDjM8aW/uLcDZrfIieEgx4cHDRrtVqc/4QmCEYGeWWyY96fUrE9m7ov43cQiUQCE3uBHQvswSsjMN8TCQ5wNEJ9lazJt2my17W1tRg67hLQiPYIX0v+2KttmmbWsiyHCA2rY5M20LwXX4v7HVwnRxYGhv4LWIbl7JB/ZI4AAAAASUVORK5CYII=');

::ng-deep html, body {
  width: 100vw !important;
  height: 100vh !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  
  margin: 0;
  overflow: hidden;
  background-image: $noise;
  background-color: $gradient-end;
  /* Adjust font size */
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  /* Smoothing */
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  -webkit-font-smoothing: subpixel-antialiased;
  &::-webkit-scrollbar {
    display: none;
  }
  transform: perspective(1px) translateZ(0);
  backface-visibility: hidden;
}


.container {
  position: relative;
  display: inline-block;
  padding-top: 25px;
  transform-origin: top left;
  $border-radius: 0px;
  
  min-width: 400px; 
  top: 0;
  left: 0;

  background-image: $noise, linear-gradient($gradient-start, $gradient-end);
  overflow: hidden;

  .loader {
    width: 100%;
    height: 100%;
    background-image: $noise;
    background-color: $gradient-end;
    position: absolute;
    z-index: 99;
  }

  .fill-width {
    width: 100%;
  }
  
  .show-hide {
    position: absolute;
    right: 5px;
    top: 0;
  }
  
  .on-off {
    position: absolute;
    left: 5px;
    top: 0;
  }

  .header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  .dropdown-section {
    width: 100%;
    background-color: $gradient-end;
    box-shadow: 0px 8px 77px 2px rgba(0,0,0,0.56);
    padding: 10px;
    $border: 1px solid black;
    border-bottom: $border;
    max-width: 400px;
    box-sizing: border-box;
    position: absolute;
    z-index: 5;
    transform-origin: right top;
    right: 0;
  }
  
}

.tooltip-container {
  position: absolute;
  pointer-events: none;
  transform-origin: top left;
  z-index: 9999;
  min-width: 400px; 
  top: 0;
  left: 0;
}