<div #container class="container" mouseWheel (mouseWheel)="mouseWheel($event)" (dblclick)="doubleclick()"
  (mousedown)="mousedown($event)" (mousemove)="mousemove($event)" (mouseup)="mouseup($event)"
  (touchstart)="mousedown($event)" (touchmove)="mousemove($event)" (touchend)="mouseup($event)">

  <!-- Large -->
  <div *ngIf="size === 'large'" class="knob large">
    <img class="scale" src="assets/knobs/large/scale.svg" onload="SVGInject(this)" />
    <div class="slot"></div>
    <div class="body"></div>
    <div class="cap">
      <svg width="58px" height="58px">
        <defs>
          <clipPath id="large-knob-cap-clip-path" clipPathUnits="objectBoundingBox" [ngStyle]="getLargeCapClipPathStyle()">
            <path d="M0.95,0.28C0.93,0.36,0.95,0.43,1,0.5c0,0,0,0,0,0c0,0.08-0.02,0.15-0.05,0.22C0.88,0.75,0.83,0.81,0.81,0.89
              C0.75,0.94,0.68,0.97,0.6,0.99c-0.07-0.03-0.13-0.03-0.2,0c-0.08-0.02-0.15-0.05-0.21-0.1C0.17,0.81,0.12,0.75,0.05,0.72
              C0.02,0.65,0,0.58,0,0.5c0,0,0,0,0,0c0.05-0.06,0.07-0.14,0.05-0.22C0.09,0.21,0.14,0.14,0.2,0.1c0.07,0,0.13-0.03,0.17-0.08
              C0.42,0.01,0.46,0,0.5,0c0.04,0,0.09,0.01,0.12,0.02C0.67,0.07,0.73,0.1,0.8,0.1C0.86,0.14,0.91,0.21,0.95,0.28z"/>
          </clipPath>
        </defs>
      </svg>
      <div class="cap-body"></div>
      <div class="indicator" [ngStyle]="getLargeCapIndicatorStyle()">
        <img class="inner-line" src="assets/knobs/large/cap-inner-line.svg" onload="SVGInject(this)"/>
        <div class="pointer"></div>
      </div>
    </div>
  </div>

  <!-- Medium -->
  <div *ngIf="size === 'medium'" class="knob medium">
    <img class="scale" src="assets/knobs/medium/scale.svg" onload="SVGInject(this)" />
    <div class="slot"></div>
    <div class="body"></div>
    <div class="cap" [ngStyle]="getMediumCapIndicatorStyle()">
      <img src="assets/knobs/medium/cap.svg" onload="SVGInject(this)" />
    </div>
  </div>

  <!-- Small -->
  <div *ngIf="size === 'small'" class="knob small">
    <img class="scale" src="assets/knobs/small/scale.svg" onload="SVGInject(this)" />
    <div class="slot"></div>
    <div class="body"></div>

    <div class="cap" [ngStyle]="getSmallCapIndicatorStyle()">
      <img src="assets/knobs/small/cap.svg" onload="SVGInject(this)" />
    </div>
  </div>
</div>
