@import "../../styles/colors.scss";

:host.disabled {
  filter: grayscale(80%)
}

.container {

  .knob {
    position: relative;
  }

  .large {
    width: 100px;
    height: 100px;

    .scale {
      position: absolute;
      fill: $accent;
      width: 100px;
      height: 100px;
    }

    .slot {
      position: absolute;
      background-color: #46494E;
      border: 2px solid black;
      border-radius: 50%;
      width: 74px;
      height: 74px;
    }

    .body {
      position: absolute;
      background-color: #46494E;
      border-radius: 50%;
      width: 70px;
      height: 70px;
    }

    .cap {
      position: absolute;

      .cap-body {
        width: 50px;
        height: 50px;

        fill: red;
      }

      .cap-inner-line {
        width: 50px;
        height: 50px;
      }
    }
  }

  .medium {}

  .small {}
}
