<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Flat</key>
	<dict>
		<key>default</key>
		<false/>
		<key>gains</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>Accoustic</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>-0.172916666667</real>
			<real>0.204166666667</real>
			<real>-0.326666666667</real>
			<real>0.04375</real>
			<real>0.379583333333</real>
			<real>0.07291666666670001</real>
			<real>0.145833333333</real>
			<real>0.170833333333</real>
			<real>0.147916666667</real>
			<real>0.0895833333333</real>
		</array>
	</dict>
	<key>Bass Booster</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>0.229166666667</real>
			<real>0.177083333333</real>
			<real>0.145833333333</real>
			<real>0.104166666667</real>
			<real>0.0520833333333</real>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>Bass Reducer</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>-0.229166666667</real>
			<real>-0.177083333333</real>
			<real>-0.145833333333</real>
			<real>-0.104166666667</real>
			<real>-0.0520833333333</real>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
	</dict>
	<key>Classic </key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>0.197916666667</real>
			<real>0.15625</real>
			<real>0.125</real>
			<real>0.104166666667</real>
			<real>-0.0625</real>
			<real>-0.0625</real>
			<integer>0</integer>
			<real>0.09375</real>
			<real>0.135416666667</real>
			<real>0.15625</real>
		</array>
	</dict>
	<key>Dance</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>0.14875</real>
			<real>0.272916666667</real>
			<real>0.207916666667</real>
			<integer>0</integer>
			<real>0.08</real>
			<real>0.152083333333</real>
			<real>0.214583333333</real>
			<real>0.189166666667</real>
			<real>0.149583333333</real>
			<integer>0</integer>
		</array>
	</dict>
	<key>Deep</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>0.20625</real>
			<real>0.147916666667</real>
			<real>0.07291666666670001</real>
			<real>0.0416666666667</real>
			<real>0.11875</real>
			<real>0.104166666667</real>
			<real>0.0604166666667</real>
			<real>-0.0895833333333</real>
			<real>-0.147916666667</real>
			<real>-0.191666666667</real>
		</array>
	</dict>
	<key>Electronic</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>0.177083333333</real>
			<real>0.158333333333</real>
			<real>0.05</real>
			<integer>0</integer>
			<real>-0.0895833333333</real>
			<real>0.09375</real>
			<real>0.0354166666667</real>
			<real>0.0520833333333</real>
			<real>0.164583333333</real>
			<real>0.2</real>
		</array>
	</dict>
	<key>Hip-Hop</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>0.208333333333</real>
			<real>0.177083333333</real>
			<real>0.0625</real>
			<real>0.125</real>
			<real>-0.0416666666667</real>
			<real>-0.0416666666667</real>
			<real>0.0625</real>
			<real>-0.0208333333333</real>
			<real>0.08333333333329999</real>
			<real>0.125</real>
		</array>
	</dict>
	<key>Jazz</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>0.166666666667</real>
			<real>0.125</real>
			<real>0.0625</real>
			<real>0.09375</real>
			<real>-0.0625</real>
			<real>-0.0625</real>
			<integer>0</integer>
			<real>0.0625</real>
			<real>0.125</real>
			<real>0.15625</real>
		</array>
	</dict>
	<key>Latin</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>0.1875</real>
			<real>0.125</real>
			<integer>0</integer>
			<integer>0</integer>
			<real>-0.0625</real>
			<real>-0.0625</real>
			<real>-0.0625</real>
			<integer>0</integer>
			<real>0.125</real>
			<real>0.1875</real>
		</array>
	</dict>
	<key>Loudness</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>0.25</real>
			<real>0.166666666667</real>
			<integer>0</integer>
			<integer>0</integer>
			<real>-0.08333333333329999</real>
			<integer>0</integer>
			<real>-0.0416666666667</real>
			<real>-0.208333333333</real>
			<real>0.208333333333</real>
			<real>0.0416666666667</real>
		</array>
	</dict>
	<key>Lounge</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>-0.125</real>
			<real>-0.0625</real>
			<real>-0.0208333333333</real>
			<real>0.0625</real>
			<real>0.166666666667</real>
			<real>0.104166666667</real>
			<integer>0</integer>
			<real>-0.0625</real>
			<real>0.08333333333329999</real>
			<real>0.0416666666667</real>
		</array>
	</dict>
	<key>Piano</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>0.125</real>
			<real>0.08333333333329999</real>
			<integer>0</integer>
			<real>0.104166666667</real>
			<real>0.125</real>
			<real>0.0625</real>
			<real>0.145833333333</real>
			<real>0.1875</real>
			<real>0.125</real>
			<real>0.145833333333</real>
		</array>
	</dict>
	<key>Pop</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>-0.0625</real>
			<real>-0.0416666666667</real>
			<integer>0</integer>
			<real>0.08333333333329999</real>
			<real>0.166666666667</real>
			<real>0.166666666667</real>
			<real>0.08333333333329999</real>
			<integer>0</integer>
			<real>-0.0416666666667</real>
			<real>-0.0625</real>
		</array>
	</dict>
	<key>RnB</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>0.109166666667</real>
			<real>0.288333333333</real>
			<real>0.235416666667</real>
			<real>0.0554166666667</real>
			<real>-0.09125</real>
			<real>-0.0625</real>
			<real>0.0966666666667</real>
			<real>0.110416666667</real>
			<real>0.125</real>
			<real>0.15625</real>
		</array>
	</dict>
	<key>Rock</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>0.208333333333</real>
			<real>0.166666666667</real>
			<real>0.125</real>
			<real>0.0625</real>
			<real>-0.0208333333333</real>
			<real>-0.0416666666667</real>
			<real>0.0208333333333</real>
			<real>0.104166666667</real>
			<real>0.145833333333</real>
			<real>0.1875</real>
		</array>
	</dict>
	<key>Small Speakers</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>0.229166666667</real>
			<real>0.177083333333</real>
			<real>0.145833333333</real>
			<real>0.104166666667</real>
			<real>0.0520833333333</real>
			<integer>0</integer>
			<real>-0.0520833333333</real>
			<real>-0.104166666667</real>
			<real>-0.145833333333</real>
			<real>-0.177083333333</real>
		</array>
	</dict>
	<key>Spoken Word</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>-0.144166666667</real>
			<real>-0.0195833333333</real>
			<integer>0</integer>
			<real>0.02875</real>
			<real>0.144166666667</real>
			<real>0.192083333333</real>
			<real>0.201666666667</real>
			<real>0.178333333333</real>
			<real>0.105833333333</real>
			<integer>0</integer>
		</array>
	</dict>
	<key>Treble Booster</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>0.0520833333333</real>
			<real>0.104166666667</real>
			<real>0.145833333333</real>
			<real>0.177083333333</real>
			<real>0.229166666667</real>
		</array>
	</dict>
	<key>Treble Reducer</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<real>-0.0520833333333</real>
			<real>-0.104166666667</real>
			<real>-0.145833333333</real>
			<real>-0.177083333333</real>
			<real>-0.229166666667</real>
		</array>
	</dict>
	<key>Vocal Booster</key>
	<dict>
		<key>default</key>
		<true/>
		<key>gains</key>
		<array>
			<real>-0.0625</real>
			<real>-0.125</real>
			<real>-0.125</real>
			<real>0.0625</real>
			<real>0.15625</real>
			<real>0.15625</real>
			<real>0.125</real>
			<real>0.0625</real>
			<integer>0</integer>
			<real>-0.0625</real>
		</array>
	</dict>
</dict>
</plist>
