
:host {
  display: block;
}

.band {
  padding: 0px;
  display:inline-block;
  overflow: hidden;    
  text-align: center;
}

.gain {
  margin-top: 2px;
  margin-bottom: 5px;
  height: 15px;
}

.annotations {
  width: 5%;
}