<eqm-loading *ngIf="!selectedPreset || !presets"></eqm-loading>
<div *ngIf="selectedPreset && presets" fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="10px" fxFill>
  <div fxLayout="row" style="width: 95%" fxLayoutAlign="space-around center" fxLayoutGap="10px">
    <eqm-value-screen [disabled]="!enabled">Global:</eqm-value-screen>
    <div style="width: 90%">
      <eqm-flat-slider [enabled]="enabled" [min]="-24" [max]="24" [(value)]="global"
        (userChangedValue)="setGain('global', $event)" [stickToMiddle]="stickSlidersToMiddle"
        (stickedToMiddle)="performHapticFeedback()" orientation="horizontal">
      </eqm-flat-slider>
    </div>
    <eqm-value-screen [disabled]="!enabled">{{screenValue(global)}}</eqm-value-screen>
  </div>
  <table fxFill>
    <tr>
      <td class="band annotations">
        <eqm-label [fontSize]="10">Hz</eqm-label>
      </td>
      <td class="band" *ngFor="let frequencyLabel of bandFrequencyLabels">
        <eqm-label class="frequency" [fontSize]="10">{{frequencyLabel}}</eqm-label>
      </td>
    </tr>
    <tr>
      <td class="band annotations">
        <eqm-button type="transparent" (pressed)="selectFlatPreset()" [disabled]="!enabled">
          <eqm-icon name="triangle" color="#4f8d71" [width]="10" [height]="10"></eqm-icon>
        </eqm-button>
      </td>
      <td class="band" *ngFor="let frequencyLabel of bandFrequencyLabels; index as i; trackBy: bandTracker">
        <eqm-skeuomorph-slider [disabled]="!enabled" [min]="-24" [max]="24" [(value)]="bands[i]"
          (userChangedValue)="setGain(i, $event)" [stickToMiddle]="stickSlidersToMiddle"
          (stickedToMiddle)="performHapticFeedback()" [animationDuration]="animationDuration"
          [animationFps]="animationFps"></eqm-skeuomorph-slider>
      </td>
    </tr>
    <tr>
      <td class="band annotations">
        <eqm-label [fontSize]="8">Gain</eqm-label>
      </td>
      <td class="band" *ngFor="let frequencyLabel of bandFrequencyLabels; index as i; trackBy: bandTracker">
        <eqm-value-screen [disabled]="!enabled" class="gain" [fontSize]="8">
          {{screenValue(bands[i])}}
        </eqm-value-screen>
      </td>
    </tr>
  </table>
</div>